<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="greeting">Start your TO-DO list</div>
    <form action="" method="post" id="creating-list-form"></form>
    <div id="creating-list">
        <input type="text" name='{"note": 1}' class="note" form="creating-list-form">
        <input type="button" id="adding-note" value="Добавить элемент" class="note" form="creating-list-form">
        <input type="submit" value="Отправить" class="note" form="creating-list-form">        
    </div>
    <script src="/static/main/javascript/events.js"></script>
</body>
</html>